<h2>Hello <%= @user.first_name %>,</h2>

<p>This email has been sent to inform you that your account at <%= ApplicationSettings.config['application_name'] %> has been created and confirmed. If you would like to login, feel free to head over to:</p>

<p><strong><a href="<%= @url %>"><%= @url %></a></strong></p><br />

<h4>Login Credentials</h4>
<p>
  <strong>email:</strong> <%= @user.email %><br />
  <strong>password:</strong> <%= @password %>
</p>