<div class="page-header">
  <h1>Account Details <small> for <%= @current_user.email %></small></h1>
</div><!-- .page-header -->

<div class="row">

  <div class="span12">
    <%= form_for @current_user, :html => {:class => 'form-horizontal'} do |f| %>

      <fieldset>

        <div class="control-group <%= error_class_for(f.object, :email) %>">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, {:class => 'input-xlarge', :value => @current_user.email} %>
            <%= error_message_for(f.object, :email) %>
          </div>
        </div><!-- .control-group -->

        <div class="control-group <%= error_class_for(f.object, :password) %>">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, {:class => 'input-xlarge'} %>
            <%= error_message_for(f.object, :password) %>    
          </div>
        </div><!-- .control-group -->

        <div class="control-group <%= error_class_for(f.object, :first_name) %>">
          <%= f.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, {:class => 'input-xlarge', :value => @current_user.first_name} %>
            <%= error_message_for(f.object, :first_name) %>
          </div>
        </div><!-- .control-group -->

        <div class="control-group <%= error_class_for(f.object, :last_name) %>">
          <%= f.label :last_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name, {:class => 'input-xlarge', :value => @current_user.last_name} %>
            <%= error_message_for(f.object, :last_name) %>
          </div>
        </div><!-- .control-group -->

        <div class="form-actions">
          <%= button_tag "Update", {:id => 'update', :class => 'btn btn-primary'} %>
        </div>

      </fieldset>

    <% end %>
  </div><!-- .span12 -->

</div><!-- .row -->