<div class="page-header">
    <h1>Request Password Reset</h1>
</div><!-- .page-header -->

<p>
Having problems remembering your password? Fill out the form below to request a password reset.
</p><br />

<div class="row">

  <div class="span12">

    <%= form_tag(send_password_reset_path,
        {:method => :post, :class => 'form-horizontal request_password_reset'}) do %>

      <fieldset>

        <div class="control-group">
          <%= label_tag 'email', 'Email', :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag :email, '', {:class => 'input-xlarge', :id => 'password_request_email'} %>
            <p class="help-block">Where should we send the reset email?</p>
          </div><!-- .controls -->
        </div><!-- .control-group -->

        <div class="form-actions">
          <%= button_tag "Request Password Reset", {:id => 'request_reset_button', :class => 'btn btn-primary'} %>
          <%= link_to 'Cancel', root_path, {:class => 'btn'} %>
        </div>

      </fieldset>
    <% end %>

  </div><!-- .span12 -->

</div>