<div class="page-header">
    <h1>Request Password Reset</h1>
</div><!-- .page-header -->

<p>
Having problems remembering your password? Fill out the form below to request a password reset.
</p>

<div class="row">

  <div class="span10">

    <%= form_tag(send_password_reset_path, {:method => :post, :class => 'request_password_reset'}) do %>
      <fieldset>

        <div class="clearfix">
          <%= label_tag 'Email' %>
          <div class="input">
            <%= text_field_tag :email, '', {:class => 'xLarge', :id => 'password_request_email'} %>
            <span class="help-block">
              Where should we send the reset email?
            </span>
          </div>
        </div>

        <div class="actions">
          <%= button_tag "Request Password Reset", {:id => 'request_reset_button', :class => 'btn primary'} %>
          <%= link_to 'Cancel', root_path, {:class => 'btn secondary'} %>
        </div>

      </fieldset>
    <% end %>

  </div><!-- .span10 -->

  <div class="span6">
  </div><!-- .span6 -->

</div>