<div class="page-header">
    <h1>Update Password</h1>
</div><!-- .page-header -->

<p>
You may now update the password for <strong><%= @user.email %></strong>
</p><br />

<div class="row">

  <div class="span12">

    <%= form_tag update_password_path, {:class => 'form-horizontal update_password_form'} do %>

      <fieldset>

       <div class="control-group">
          <%= label_tag :password, 'New Password', :class => 'control-label' %>
          <div class="controls">
            <%= password_field_tag :password, '', {:class => 'input-xlarge', :id => 'new_password'} %>
            <p class="help-block">The stronger the better...</p>
            <%= hidden_field_tag :reset_token, params[:token] %>
          </div><!-- .controls -->
        </div><!-- .control-group -->

        <div class="form-actions">
          <%= button_tag "Update Password", {:id => 'update_password_button', :class => 'btn btn-primary'} %>
        </div>

      </fieldset>

    <% end %>

  </div><!-- .span12 -->

</div><!-- .row -->