<div class="page-header">
    <h1>Update Password</h1>
</div><!-- .page-header -->

<p>
You may now update the password for <strong><%= @user.email %></strong>
</p>

<div class="row">

  <div class="span10">

    <%= form_tag update_password_path, {:class => 'update_password_form'} do %>

      <fieldset>

        <div class="clearfix">
          <%= label_tag :password, 'New Password' %>
          <div class="input">
            <%= password_field_tag :password, '', {:class => 'xLarge', :id => 'new_password'} %>
            <%= hidden_field_tag :reset_token, params[:token] %>
          </div>
        </div>

        <div class="actions">
          <%= button_tag "Update Password", {:id => 'update_password_button', :class => 'btn primary'} %>
        </div>

      </fieldset>

    <% end %>

  </div><!-- .span10 -->

  <div class="span6">
  </div><!-- .span6 -->

</div><!-- .row -->