<div class="page-header">
    <h1>Edit User</h1>
</div><!-- .page-header -->

<ul class="nav nav-tabs">
  <li><%= link_to 'All Users', admin_users_path, {:id => 'admin_users'} %></li>
  <li class="active"><%= link_to 'New User', new_admin_user_path, {:id => 'new_admin_user'} %></li>
</ul>

<div class="row">

  <div class="span12">

    <%= form_for @user, {:url => admin_user_path(@user), :html => {:class => 'form-horizontal'}} do |f| %>

      <fieldset>

        <div class="control-group <%= error_class_for(f.object, :email) %>">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, {:class => 'input-xlarge', :value => @user.email} %>
            <%= error_message_for(f.object, :email) %>
          </div>
        </div>

        <div class="control-group <%= error_class_for(f.object, :password) %>">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, {:class => 'input-xlarge'} %> 
            <%= error_message_for(f.object, :password) %>    
          </div>
        </div>

        <div class="control-group <%= error_class_for(f.object, :first_name) %>">
          <%= f.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, {:class => 'input-xlarge', :value => @user.first_name} %>
            <%= error_message_for(f.object, :first_name) %>
          </div>
        </div>

        <div class="control-group <%= error_class_for(f.object, :last_name) %>">
          <%= f.label :last_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name, {:class => 'input-xlarge', :value => @user.last_name} %>
            <%= error_message_for(f.object, :last_name) %> 
          </div>
        </div>

        <div class="control-group">
          <%= f.label :user_level %>
          <div class="controls">
          <%
          if @user.admin?
            selected = 'admin'
          else
            selected = 'user'
          end
          %>
          <%= select(:user, :user_level, User.user_levels, {:selected => selected}) %>
          </div>
        </div>
        
        <div class="control-group">
          <div class="controls">
                <label class="checkbox" for="user_confirmed">
                  <%= f.check_box :confirmed %> Account Confirmed?
                </label>
          </div>
        </div>

        <div class="form-actions">
          <%= button_tag "Update User", {:id => 'signup', :class => 'btn btn-primary'} %>
          <%= link_to "Cancel", admin_users_path, {:class => 'btn'} %>
        </div>

      </fieldset>

    <% end %>

  </div><!-- .span12 -->

</div><!-- .row -->