<div class="page-header">
    <h1>All Users</h1>
</div><!-- .page-header -->

<ul class="pills">
  <li class="active"><%= link_to 'All Users', admin_users_path, {:id => 'admin_users'} %></li>
  <li><%= link_to 'New User', new_admin_user_path, {:id => 'new_admin_user'} %></li>
</ul>

<table class="bordered-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>