<%=
    link_to ApplicationSettings.config['application_name'],
        root_path, {:class => 'brand'}
%>


<!-- Left Side Navigation -->
<ul class="nav">
    <% if @current_user and use_admin_layout? %>
        <%= admin_nav %>
    <% else %>
        <%= user_nav %>
    <% end %>
</ul>


<% if @current_user %>


  <!-- Right Side Navigation -->
  <ul class="nav pull-right">

    <% if @current_user.admin? and admin_layout? %>
      <%= content_tag(:li, link_to('Standard View', root_path)) %>
    <% elsif @current_user.admin? %>
      <%= content_tag(:li, link_to('Admin', admin_root_path)) %>
    <% end %>

    <li><%= link_to 'Logout', logout_path, {:class => 'logout', :id => 'logout'} %></li>
  </ul>


<% else %>


  <!-- Login Form -->
  <%= form_tag login_path, {:class => 'login pull-right form-inline'} do %>
    <%= text_field_tag :email, '', {:class => 'input-small', :placeholder => 'email'} %>
    <%= password_field_tag :password, '', {:class => 'input-small', :placeholder => 'password'} %>
    <%= button_tag 'login', {:type => 'submit', :class => 'btn btn-primary'} %>
  <% end %>


<% end %>