<!DOCTYPE html>
<html>
<head>
  <title>Rocket Fuel | Admin</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29730687-1']);
    _gaq.push(['_setDomainName', 'metajury.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="admin">

<!-- Top Navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navbar' %>
        </div><!-- .container -->
    </div><!-- .navbar-inner -->
</div><!-- .navbar-fixed-top -->


<div class="container">

    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div class="alert-message alert alert-<%= name %>" id="flash_<%= name %>">
                <a class="close" href="#" data-dismiss="alert">&times;</a>
                <%= msg %>
            </div><!-- .alert-message -->
        <% end %>
    <% end %>

    <%= yield %>

    <footer class="footer">
        <p class="pull-right"><em>Copyright &copy;<%= Time.now.year %></em></p>
    </footer>

</div>

</body>
</html>
